.historyDivider {
  margin: 8px 0;
}

.queueColumn {
  display: flex;
  flex-direction: column;
}

.suggestedColumn {
  display: flex;
  flex-direction: column;
}

.loadMoreContainer {
  display: flex;
  flex-direction: column;
}

.loadMoreSkeletonRow {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
}

.noMoreSuggestions {
  text-align: center;
}
